html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, #0A323C, #010A14);
    background-size: auto;
}


@font-face {
    font-family: 'lol-font' ;
    src: url('Friz-Quadrata-Regular.ttf');
}

* {
    font-family: 'lol-font';
}

main{
    text-align: center;
}

#header-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;

    align-items: center;
    border-bottom: solid 2px #C89B3C;
    /* margin-bottom: 50px; */
    flex-direction: column;

}

#logo {
    width: 150px;
    height: auto;
    margin-top: 15px;
}

#LOLGRAM {
    width: 150px;
    height: auto;
    margin-bottom: -20px;
    margin-top: -25px;
}

/* body {
    background: radial-gradient(circle, #0A323C, #010A14);
    background-size: auto;
} */

#loading-screen-container {
    height: 100vh;
    /* Set container height to viewport height */
    display: flex;
    /* Set display to flex to align items */
    flex-wrap: wrap;
    /* Enable wrapping of items */
    justify-content: center;
    /* Center align items horizontally */
    align-items: flex-start;
    /* Align items to the top */
}

/* #loading-screen-container img {
    /* margin: 200px; */
    /* margin: 50px; */
    /* Add space between images */
/* }

/* Define the border image */
.border-image {
    /* border: 50px solid transparent; */
    /* Set the initial border to transparent */
    border-image-source: url('border.png');
    /* Specify the URL of the border image */
    border-image-slice: fill;
    /* Adjust the border image slice if needed */
}

/* Apply the border to all images */
.splash {
    /* Apply the border image to all images */
    border-image: url('border.png') 20 fill repeat;
    /* Set the border width */
    border-width: 10px;
    /* Set the border style */
    border-style: solid;
    width: auto;
        /* Adjust the width as needed */
    height: auto;
    object-fit: cover;
        /* Adjust the height as needed */
    z-index: 1;
    /* border: transparent; */
}

.splash:hover{
box-shadow: 0px 0px 24px 12px rgba(235, 217, 51, 0.75);
    -webkit-box-shadow: 0px 0px 24px 12px rgba(235, 217, 51, 0.75);
    -moz-box-shadow: 0px 0px 24px 12px rgba(235, 217, 51, 0.75);
}


.image-container {
    position: relative;
    display: inline-block;
    margin: 50px;
    width: auto;
    height: auto;
}

.text-overlay {
    width: 80%;
    height: auto;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1;
    line-height: 20px;
    margin-bottom: 95px;
    display: inline-block;
}

.like-count {
    color: white;
}

.comments-box {
    width: 300px;
    height: 50px;
    overflow: auto;
    /* Add scrollbar when content overflows */
    border: 1px solid #C89B3C;
    color: white;
    padding: 5px;
    /* Optional: Add padding for spacing */
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* display: flex;
    justify-content: flex-start;
    flex-direction: column; */
    text-align: start;
}

.like-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: -10px;
    margin-top: -15px;
}
.like-button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    padding: none;
}

.comment-button {
    cursor: pointer;
}

.like-count {
    margin-left: -25px;
}

.comment-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #C89B3C ;
    outline: none;
    margin-right: 10px;
}

.comment-container {
    display: flex;
    align-items: center;
    margin-right: 5px;
}
